<div id="pesquisa">
    <h3>Consulta</h3>
    <input
    type="text"
    id="pesquisa"
    placeholder="Nome:"
    [(ngModel)]="nomePesquisa">

    <button
        id="btn-pesquisa"
        (click)="pesquisar()">
        🔍 Pesquisar
    </button>

<div id="lista-clientes">
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            <th>UF</th>
            <th>Município</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>

        @for(item of clientesFiltrados; track $index){
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{item.email }}</td>
                <td>{{item.cpf}}</td>
                <td>{{item.datadenascimento}}</td>
                <td>{{item.uf}}</td>
                <td>{{item.municipio}}</td>

                <button type="button" (click)="editar(item)">
                    🖍 Editar
                </button>
        
                <td>
                    <button type="button" (click)="deletar($index)"> 
                        🗑 Deletar 
                    </button>
                
                </td>
            </tr>
        }

    </table>
</div>
</div>
